.App {
  width: 90%;
  margin: 0 auto;
}
body{
  background-color: #fffee1;
} 
header {
  display: flex;
}
.currency-exchanger__head {
  
  width: 100%;
}

.insertexchange{
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.insertexchange img {
  margin-top: 20px;
}
.insertexchange__form {
  width: 25%;
}
.insertexchange__form-input input {
  display: block;
  width: 50%;
  padding: 10px 15px;
  border-radius: 9px;
  border-color: orange;
  border-width: 2px;
  border-style: solid;
}
.insert-exchange__form-group-select{
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 9px;
  border-color: orange;
  background-color: white;
  border-width: 2px;
  border-style: solid;
}
.insertexchange button{
  background-color: orange;
  padding: 10px 35px;
  border-radius: 9px;
  border: none;
  color: white;
  font-size: 25px
}
.currency-exchanger__exchange-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.exchange-card {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cedc99;
  border-radius: 20px;
  width: 10000px;
  padding: 15px 0;
  margin-bottom: 20px;
}
.exchange-card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exchange-card__item img{
  width: 50px;
}

